body {
    color: #fff;
    background: #000;
}

.adjust__width {
    width: 25% !important;
    /*padding: 7.5px;*/
}

.adjust__width:last-child {
    padding-right: 15px;
}

.adjust__width:first-child {
    padding-left: 15px;
}

.navbar {
    position: relative;
    min-height: 65px;
    margin-bottom: 0;
    border: 1px solid transparent;
	width: 1170px;
    margin: auto !important;
}

#navbar-primary {
    margin: 0;
    background: #B81F25;
    border-bottom: 7px solid #000;
}


/* Center navbar logo */

#navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;
	margin-top: 13px;
}

#navbar-primary .navbar-nav>li {
    display: inline-block;
    float: none;
}

#navbar-primary .navbar-nav>li>a {
    padding: 5px 8px;
    margin: 0 45px;
    color: #fff;
    transition: 1s;
}

#navbar-primary .navbar-nav>li>a:hover {
    color: #000;
    background: transparent;
}

#navbar-primary .navbar-nav .active>a {
    color: #b61226;
    background: transparent;
    font-size: 1.6em;
}

.logo-navbar-middle {
    width: auto;
}

.nav > li > a > img {
    max-width: none;
    width: 200px;
    height: auto;
    margin-top: -16px;
    display: block;
    position: absolute;
    top: -12px;
    left: 50%;
    z-index: 2;
    transform: translate3d(-50%,0,0);
}

.img__div {
    width: 100%;
    height: auto;
    background: #fff;
}

.jackpots {
    background-color: #B81F25;
    padding: 15px 1px;
    overflow: hidden;
    margin: auto;
    font-family: arial;
}

.jackpots span {
    color: #fff;
    font-size: 18px !important;
    font-family: arial;
    font-weight: 700;
}

.jackpots em {
    color: #f9f775;
}

.jackpot-block {
    background: #c02026;
    color: #fff;
}

.jackpot-block p {
    color: #fff;
}

.Jackpotblock {
    text-align: left;
    border-right: 1px solid #c02026;
}

.Jackpotblock:last-child {
    border-right: none;
}

.jackpot-circle {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 5px;
    border: 2px solid #c02026;
}

.tot-jackpot {
    background: url(../777.jpg);
}

.jackpot-pinatas {
    background: url(../jackpot.jpg);
}

.aztecs-millions {
    background: url(../aztec.jpg);
}

.shopping-spree {
    background: url(../shopping-spree2.jpg);
}

.tot-jackpot,
.jackpot-pinatas,
.aztecs-millions,
.shopping-spree {
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-n-winners {
    margin-top: 5px;
}

.yy1 {
    padding-left: 0 !important;
}


/* Cards style */

.remove__padding {
    padding: 0;
}

#card1 {
    padding-left: 0;
}

#card3 {
    padding-right: 0;
}

.home-promo {
    background-color: #000;
    padding: 20px;
}

.home-promo p {
    color: #fff;
    font-family: arial;
    font-size: 12px !important;
}

.home-promo-cta {
    display: inline-block;
    margin-bottom: -11px;
    padding: 7px 0px;
    width: 100% !important;
}

.home-promo-cta-left {
    width: 48%;
    float: left;
    margin-right: 3%;
}

.home-promo-cta-right {
    width: 48%;
    float: left;
    text-align: right;
}

.home-promo-cta-right a {
    color: #fff;
}

.buttonB {
    padding: 9px 29px 9px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: 300;
    letter-spacing: 0px;
    margin-right: 10px;
    background-color: #8a0000;
    text-transform: uppercase;
    margin-top: 0px;
    width: 220px !important;
}

.fa-info-circle {
    color: #8a0000;
    font-size: 1.4em;
}

.heading__h3 {
    color: #fff;
    margin: 25px 0;
}

#deco_strip {
	width: 1170px;
    height: 42px;
    background: url(../deco_strip.jpg);
    background-size: cover;
    margin-left: -15px !important;
}

blockquote {border-left: none !important;}

/* Footer */

.footer {
    width: 1170px;
	margin: auto !important;
    /*position: fixed;*/
    bottom: 0;
    color: #fff !important;
    background-color: #000 !important;
    font-size: 10px !important;
}

.logos {
    margin: 0;
    padding: 10px;
    text-align: center;
	background: #000;
}

.logos ul {
    overflow: auto;
    list-style-type: none;
    padding: 0px;
    margin: 5px;
}

.alka {
    margin: auto;
    padding: 25px 0;
    background: #000;
}

.btcv-footerlogos-icons {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.btcv-footerlogos-icons a {
    color: #fff;
    font-weight: 100;
    padding: 0 10px;
}

.footer .logos li {
    margin: 0px;
    border: none!important;
    padding: 0 25px;
}

.license_txt {
    display: block;
    width: 790px;
    height: auto;
    margin: 14px auto 0 auto;
}

.logos img {
    height: 30px;
}

.table-striped>tbody>tr:nth-of-type(odd) {color: #000 !important;}

/*  */

.inner__title {
    color: #fff;
    text-align: center;
}

.back__ground {
    color: #fff;
    padding: 20px 50px 40px 50px;
    /*background: #000;*/
}

.back__ground p {
    font-family: arial;
}

.promotions .home-promo-cta-left {
    width: 49%;
}

.support_img {
    width: 70%;
    height: auto;
    margin: auto;
}


/* -- price theme ------ */

.card-price {
    border-color: #999;
    background-color: #ededed;
    margin: 15px 0;
}

.card-price>.card-heading,
.card-price>.card-footer {
    color: #333;
    background-color: #fdfdfd;
}

.card-price>.card-heading {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.card-price>.card-footer {
    border-top: 1px solid #ddd;
    padding: 8px;
}


/*.card-price > .card-img:first-child img{ border-radius: 6px 6px 0 0; }*/

.card-price>.card-left {
    padding-right: 4px;
}

.card-price>.card-right {
    padding-left: 4px;
}

.card-price .card-caption {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.card-price p:last-child {
    margin-bottom: 0;
}

.card-price .price {
    text-align: center;
    color: #B81F25;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 0.7em;
    margin: 24px 0 16px;
}

.card-price .price small {
    font-size: 0.4em;
    color: #66a5da;
}

.card-price .buy-now {
    text-transform: uppercase;
}

.card-price table .price {
    font-size: 1.2em;
    font-weight: 700;
    text-align: left;
}

.card-price table .note span {
    font-family: arial;
    font-size: .9em;
}

.card-price table .note {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-price table .no_border {
    border: none;
}

.table {
    margin: 0;
    padding: 0 10px;
    color: #fff;
    background: #080000;
}

.row {
    margin-right: 0px;
}

.table > tbody > tr > td {
	border-top: 1px solid rgba(255, 255, 255, 0.1) !important; 
}

#navbar-primary .navbar-nav .active > a {color: #eeb758;}

@media screen and (max-width: 1199px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 768px) {
.navbar {border-radius: 0px;}
}

.grey_bg {
    background: #cfcfcf;
    padding: 10px;
}